@font-face {
	font-family: Arial;
	src: url(Arial );
	font-weight: lighter;
	font-style: italic;
}

body {
	font-family: "Nanum Gothic", sans-serif;
	font-size: 1.3em;
	background-color: black;
	color: white;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
	
}

a:hover {

	text-decoration: none;

	color: white;
	border-bottom: 2px solid #fff;
}

h1 {
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: black;
	color: white;
}
h2 {
	font-size: 2.5em;
	text-decoration: none;
	margin: 0.1em;
	margin-left: 0.3em;

}

h3 {
	font-size: 0.9em;
	text-decoration: none;
	margin: 0em;
	margin-bottom: 1em;


}

h4 {

	font-size: 0.9em;
	margin-bottom: -0.8em;

	}

p {
	font-size: 0.8em;
}



/*------------ CONTENT -----------*/

.container {
	max-width: 700px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.titleImage {
	width: 100%;
	display: block;
}

.menu {
	float: right;
	font-size: 0.9em;
	margin: 10px;
	margin-top: -1.8em;

}

.caption {
	font-size: 0.8em;
	margin-bottom: em;
}

#push {
	display: block;
	margin-top: 10px;
}

#download,
#reading {
	font-size: 0.65em;
	line-height: 1.5;
}

#small {
	font-size: 0.6em;
	letter-spacing: 0.5px;
	margin-top: 0px;
	padding-top: 0px;
}

#small {
	font-size: 0.6em;
	letter-spacing: 0.5px;
	margin-top: 0px;
	padding-top: 0px;
}

#reading {
	margin-top: -50px;
}

#contact {
	margin-top: 20px;
}

#topimage {
	width: 100vw;
	height: 100vh;
	background: url(images/edit-web.jpg) no-repeat center;
	background-size: cover;
}

.midimage {
	width: 100vw;
	height: 100vh;
	background: url(images/dubai-web.jpg) no-repeat center;
	background-size: cover;
}

/*------------ MOBILE -----------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	
}
